<div id="<%= dom_id product %>">
  <p>
    <strong>Id:</strong>
    <%= product.id %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= product.image %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= product.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= product.amount %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

</div>
